<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.SysMenuDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.SysMenu">
    <id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="MENU_ORDER" jdbcType="VARCHAR" property="menuOrder" />
    <result column="MENU_ICON" jdbcType="VARCHAR" property="menuIcon" />
    <result column="MENU_TYPE" jdbcType="VARCHAR" property="menuType" />
  </resultMap>
  <sql id="Base_Column_List">
    MENU_ID, MENU_NAME, MENU_URL, PARENT_ID, MENU_ORDER, MENU_ICON, MENU_TYPE
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from sys_menu
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.fit.entity.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="menuUrl != null">
        MENU_URL,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="menuOrder != null">
        MENU_ORDER,
      </if>
      <if test="menuIcon != null">
        MENU_ICON,
      </if>
      <if test="menuType != null">
        MENU_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null">
        #{menuOrder,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.SysMenu">
    update sys_menu
    <set>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null">
        MENU_ORDER = #{menuOrder,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="menuId != null and menuId != ''">
         and MENU_ID = #{menuId,jdbcType=INTEGER}
      </if>
      <if test="menuName != null and menuName != ''">
         and MENU_NAME = #{menuName,jdbcType=VARCHAR}
      </if>
      <if test="menuUrl != null and menuUrl != ''">
         and MENU_URL = #{menuUrl,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null and parentId != ''">
         and PARENT_ID = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="menuOrder != null and menuOrder != ''">
         and MENU_ORDER = #{menuOrder,jdbcType=VARCHAR}
      </if>
      <if test="menuIcon != null and menuIcon != ''">
         and MENU_ICON = #{menuIcon,jdbcType=VARCHAR}
      </if>
      <if test="menuType != null and menuType != ''">
         and MENU_TYPE = #{menuType,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.SysMenu" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from sys_menu
    <include refid="Base_Where_List" />
    order by MENU_ID desc 
    <if test="pageNumber != null and pageSize != null">
     limit ${pageNumber}, ${pageSize}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from sys_menu
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from sys_menu
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from sys_menu
     where MENU_ID in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
  <update id="deleteTable">
    truncate table sys_menu
  </update>
  <select id="selectList" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${value}
  </select>
</mapper>